 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .container{
    // max-width: 1106px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px 0;
 }

 .in-container{
   max-width: 1106px;
 }
 a{
    text-decoration: none;
 }
  ul li {
    list-style: none;
  }